body{
    padding: 20px;
    padding-right: 40px;
    font-family: Roboto, Arial, sans-serif;
}
#search {
    padding-top: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
}

#nav {
    font-size: 15px;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none; 
    
    font-weight: 300;
}
 #imageS{
    order: 1;
}
.searchContainer {
    margin: 40px;
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 20px;
    overflow: hidden;
    width: 550px;
    height: 40px;
  }

  .searchIcon {
    padding: 0.75rem;
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
  }
  .searchContainer:hover{
    box-shadow: 0px 0px 10px 0.5px lightgrey;
    border: 0px;
}
.searchContainer:active{
    box-shadow: 0px 0px 10px 0.5px lightgrey;
    border: 0px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
    text-decoration: underline;
}
#bar{
    border: none;
    position: relative;
    bottom: 9px;
    font-size: 25px;
    width: 500px;
    height: 40px;
}

.buttons{
    align-content: center;
    padding-left: 165px;
    
}

.button {
    background-color: rgb(243, 243, 243);
    color: rgb(94, 94, 94);
    padding: 15px 15px 15px 15px;
    margin: 5px;
    border: 0px;
    font-size: 15px;
    border-radius: 3px;
    
}
.button:hover{
    border: 0.5px solid rgb(90, 90, 90);
}

.logo-subtext {
    color: #4285f4;
    left: 105px;
    position: relative;
    bottom: 20px;
    white-space: nowrap;
}

#imageSearchButton{
    padding-left: 245px;
}

#logo{
    height: 35px;
}
#navID{
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
    margin-left: -30px;
    margin-right: -50px;
    margin-top: -30px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#adTitle{
    font-size: 20px;
    color: rgb(197, 3, 3);
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#line{
    margin-left: -30px;
    margin-right: -50px;
    height: 0px;
    border: 0.5px solid rgb(236, 236, 236);
    margin-top: 0px;
}
#searchBoxes{
    display: grid;
    padding: 20px;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-columns: 200px 500px auto;
}

.adBar1{
    width: 450px;
    border: 1px solid black;
    position: relative;
    bottom: 9px;
    font-size: 18px;
    height: 10px;
    padding: 10px;
}
#adButton{
    background-color: #4285f4;
    color: white;
    margin-left: 420px;
}

.boldTitle{
    font-weight: 500;
}
